<div id="fb-root"></div>

<script>
    window.fbAsyncInit = function() {
      FB.init({
        appId      : '157450254374339', // App ID
        status     : true, // check login status
        cookie     : true,
        xfbml      : true,
        oauth      : true
      });
    };

    // Load the SDK Asynchronously
    (function(d){
      var js, id = 'facebook-jssdk'; if (d.getElementById(id)) {return;}
      js = d.createElement('script'); js.id = id; js.async = true;
      js.src = "//connect.facebook.net/en_US/all.js";
      d.getElementsByTagName('head')[0].appendChild(js);
    }(document));
  </script>

<h1>Join Tank Battle</h1>

<div id="fbRegForm">
  <iframe src="https://www.facebook.com/plugins/registration?
               client_id=157450254374339&
               fb_only=true&
               redirect_uri=http://localhost:3000/players&
               fields=[
                  {'name':'name'}, 
                  {'name':'email'}, 
                  {'name':'gender'}, 
                  {'name':'birthday'}
                ]"
          scrolling="auto"
          frameborder="no"
          style="border:none"
          allowTransparency="true"
          width="100%"
          height="100%">
  </iframe>
</div>

<form action="/players" method="POST">
  <p>
    Name:
    <br />
    <input type="text" name="name" id="name" />
  <p>
  <p>
    Email:
    <br />
    <input type="text" name="email" id="email" />
  <p>
  <p>
    Gender:
    <br />
    <input type="text" name="gender" id="gender" value="male" />
  <p>
  <p>
    Latitude:
    <br />
    <input type="text" name="latitude" id="latitude" value="48.8566140" />
  <p>
  <p>
    Longitude:
    <br />
    <input type="text" name="longitude" id="longitude" value="2.35222190" />
  <p>
  <p>
    FBID:
    <br />
    <input type="text" name="fb_id" id="fb_id" value="35222190" />
  <p>
  <p>
    <input type="submit" value="Save" />
  </p>
</form>
    