html { 
  height: 100%;
}

body { 
  font-family: "Arial";
  height: 100%; 
  margin: 0; 
  padding: 0 
}

#map_canvas { 
  height: 100%; 
}

#info {
  padding: 10px; 
  background-color: #fff;
}

#feedback {
  font-weight: bold;
  color: white;
  width: 100px;
  padding: 5px;
  margin: 10px auto;
  display: none;
}